{% extends "base.html" %}

{% block content %}
    <h1>
        <img src="{{ url_for("static", filename="logo.png") }}" width="32" height="32">
        Rzuć kostką:
    </h1>
    {% for size in size_options %}
        <p>
            <a href="{{ url_for("roll_advanced_diece", size=size) }}">Kostka {{size}}</a>
        </p>
    {% endfor %}

    <form method="post" action="/formularz">
        Twoje imie: <input type="text" name="imie">
        Twoje miasto: <input type="text" name="miasto">
        <button type="submit">Wyślij</button>
    </form>
{% endblock %}
